<!DOCTYPE html>
<html>
<head>
    <title>SONAR</title>
    @Scripts.Render("~/vendorScripts")
    @Scripts.Render("~/appScripts")
    @Styles.Render("~/vendorStyles")
</head>
<body ng-app="sonarApp">

<a href="#/">INDEX</a>
<a href="#/login">LOGIN</a>

<div ng-view></div>

</body>
</html>