

<p>Friends page</p>
<div>
    <div style="float:left; margin-left:20%;">
           
            
            <ul ng-repeat="muz in friends "  style="background-color:white;"  >
                <li> <span><img src="{{muz.ImageUrl}}"</span></li>
                    <li> <span >{{muz.FirstName}}</span></li>
                <li> <span> {{muz.LastName}}</span></li>
                <li> <span>{{muz.BirthDate}}</span></li>
                <li> <span> {{muz.Rating}}</span></li>
                
                <li> <span>{{muz.Username}}</span></li>
                <li> <span>{{muz.Email}}</span></li>
                
              </ul>

    </div>
    <div style="float:right; margin-right:20%">
       


        <ul ng-repeat="muz in friends " style="background-color:white;">
            <li> <span><img src="{{muz.ImageUrl}}"></span></li>
            <li> <span>{{muz.FirstName}}</span></li>
            <li> <span> {{muz.LastName}}</span></li>
            <li> <span>{{muz.BirthDate}}</span></li>
            <li> <span> {{muz.Rating}}</span></li>

            <li> <span>{{muz.Username}}</span></li>
            <li> <span>{{muz.Email}}</span></li>

        </ul>


    </div>


</div>