
    <div style="float:left; margin-left:20%">
        

        <ul ng-repeat="event in events |filter:searchsve | limitTo:pageSize ">

            <li> <span ng-model="Imezapret">{{event.Name}}</span></li>
            <li> <span> hallo{{event.Description}}</span></li>
            <li> <span>sdasd{{event.StartData}}</span></li>
            <li> <span>{{event.EndDate}}</span></li>
            <li> <span>{{event.Latitude}}</span></li>
            <li> <span>{{event.Contact}}</span></li>
            <li> <span>{{event.Radius}}</span></li>
            
            <li> <input type="checkbox" ng-model="muz.id" /></li>
        </ul>

    </div>
