
    <div style="float:left; margin-left:20%">
        <table class="CSSTableGenerator" id="tblcollections" style="border:2px;border-color:black;">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Name</th>
                    <th>Birthday</th>

                </tr>
            </thead>
            <span>
                <a href="#!/Kreiraj/New/" class="thumb">Novi</a>
            </span>
            <tbody ng-repeat="muz in TablicaHitovas |filter:searchsve | limitTo:pageSize ">
                <tr ng-click="get(muz)">
                    <td>
                        <a href="#!/Index/{{muz.Id}}" class="thumb">
                        </a>
                        <a href="#!/Index/{{muz.Id}}">{{muz.Id}}</a>
                    </td>
                    <td> <span ng-model="Imezapret">{{muz.Ime}}</span></td>
                    <td> <span>{{muz.Prezime}}</span></td>
                    <td> <span>{{muz.Adresa}}</span></td>
                    <td> <span>{{muz.PostanskiBr}}</span></td>
                    <td> <span>{{muz.Grad}}</span></td>
                    <td> <span>{{muz.Drzava}}</span></td>
                    <td> <span>{{muz.Email}}</span></td>
                    <td> <span><a href="#!/Index/Edit/{{muz.Id}}" class="thumb">Edit</a></span></td>
                    <td> <span><a href="#!/Index/Delete/{{muz.Id}}" class="thumb">Delete</a></span></td>
                    <td> <input type="checkbox" ng-model="muz.id" /></td>
                </tr>

            </tbody>
        </table>

    </div>
