
<div class="col-xs-8">
    <google-map events="mockEvents" visibility-options="visibilityOptions"></google-map>
</div>

<div class="col-xs-4">
    <p>SIDEBAR</p>
    <p>Do you want to search event or create new </p>
    <p>Create New <a href="#/newEvent">New Event</a></p>
    <p>
        View NEar <a href="#/eventNear">Near Event</a>
    </p>
</div>

<modal title="View event details" visible="visibilityOptions.isEventDetailsModalVisible">
   EVENT DETAILS
</modal>

<modal title="Add new event" visible="visibilityOptions.isAddEventModalVisible">
    ADD NEW EVENT

    <div class="form-bottom">
        <form role="form" action="" method="post" class="login-form">
            <div class="form-group">
                <label class="sr-only" for="form-name">Event name</label>
                <input ng-model="newEvent.name" type="text" name="form-name" placeholder="Event name" class="form-name form-control" id="form-event-name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="form-event-description">Event description</label>
                <input ng-model="newEvent.description" type="text" name="form-event-description" placeholder="Event description" class="form-event-description form-control" id="form-event-description">
            </div>
            <button type="submit" class="btn" ng-click="submitEvent()">Add new event</button>
        </form>
    </div>
</modal>
