.header {
    display: table;
    position: relative;
    width: 100%;
    height: 15%;
}

html, body, #googleMap {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
}

#googleMap {
    position: relative;
}
