<div>

    <div style="float:left; margin-left:20%">
        <img class="avatar" ng-src="{{profileViewModel.ImageUrl}}" />


    </div>



    <div style="float:right; margin-right:40%">

        <label>First Name:</label>
        <input type="text" ng-model="profileViewModel.FirstName" name="form-firstname" placeholder="First Name..." class="form-firstname form-control" id="form-firstname">
        <label>Last Name:</label>
        <input type="text" ng-model="profileViewModel.LastName" name="form-lastname" placeholder="Last Name..." class="form-lastname form-control" id="form-lastname">
        <label>User Name:</label>
        <input type="text" ng-model="profileViewModel.Username" name="form-username" placeholder="User Name..." class="form-username form-control" id="form-username">
        <label>Birthday:</label>
        <input ng-model="profileViewModel.BirthDate" name="form-birthday" placeholder="Birthday..." class="form-birthday form-control" id="form-birthday">
        <!--<label>Password:</label>
        <input type="text" ng-model="profileViewModel.Password" name="form-Password" placeholder="Password..." class="form-Password form-control" id="form-Password">-->
        <label>View Range:</label>
        <input type="range" min="0" max="20000" id="form-range" onchange="updateTextInput(this.value);" />
        <input type="text" id="textInput" value="" placeholder="m" onchange="updateRangeInput(this.value);">
        <input type="button" id="button" value="Applay Changes" />

    </div>





</div>
<script type="text/javascript">
    function updateTextInput(val) {
        document.getElementById('textInput').value = val;
    }
    function updateRangeInput(val) {
        document.getElementById('form-range').value = val;
    }
</script>
<style>
    .avatar {
        width: 256px;
        margin: 10px;
        border: 10px solid red;
        border-radius: 500px;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
    }
</style>